#!/bin/bash

layout python python2

export CFLAGS="-I/opt/local/include -O0 -gdwarf -g3 $CFLAGS"

set -euo pipefail

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )/.direnv"
BIN_DIR="$DIR/bin"

PATH_add "$BIN_DIR"
