# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/Hellweg.cbproj.local
src/Hellweg.res
*.#00
src/Win32/Debug/Hellweg.ilc
src/Win32/Debug/Hellweg.ilf
*.map
src/Win32/Debug/Hellweg.tds
*.~1~
